
<div>
    <h2><span data-translate="ahtemDiplomApp.product.detail.title">Product</span> {{vm.product.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="ahtemDiplomApp.product.name">Name</span></dt>
        <dd>
            <span>{{vm.product.name}}</span>
        </dd>
        <dt><span data-translate="ahtemDiplomApp.product.price">Price</span></dt>
        <dd>
            <span>{{vm.product.price}}</span>
        </dd>
        <dt><span data-translate="ahtemDiplomApp.product.previousPrice">Previous Price</span></dt>
        <dd>
            <span>{{vm.product.previousPrice}}</span>
        </dd>
        <dt><span data-translate="ahtemDiplomApp.product.count">Count</span></dt>
        <dd>
            <span>{{vm.product.count}}</span>
        </dd>
        <dt><span data-translate="ahtemDiplomApp.product.stars">Stars</span></dt>
        <dd>
            <span>{{vm.product.stars}}</span>
        </dd>
        <dt><span data-translate="ahtemDiplomApp.product.details">Details</span></dt>
        <dd>
            <span>{{vm.product.details}}</span>
        </dd>
        <dt><span data-translate="ahtemDiplomApp.product.image">Image</span></dt>
        <dd>
            <div ng-if="vm.product.image">
                <a ng-click="vm.openFile(vm.product.imageContentType, vm.product.image)">
                    <img data-ng-src="{{'data:' + vm.product.imageContentType + ';base64,' + vm.product.image}}" style="max-width: 100%;" alt="product image"/>
                </a>
                {{vm.product.imageContentType}}, {{vm.byteSize(vm.product.image)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="product-detail.edit({id:vm.product.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
