<div ng-cloak class="wrapper homepage">
    <div class="slider-area slider-style-three">
        <div class="container">
            <div class="row">
                <div class="col-3 mb-40">
                    <input type="text" name="address" ng-model="vm.ID" placeholder="Введите ID товара"
                        class="form-control ng-pristine ng-valid ng-empty ng-touched" aria-invalid="false">
                </div>
                <div class="col-3">
                    <a class="add-cart stat-btn" href ng-click="vm.run()" data-toggle="tooltip">
                        Получить статистику
                    </a>
                </div>
            </div>
            <div class="row">
                <h1> Анализ продаж за последние 30 дней</h1>
            </div>
            <div class="row mb-20">
                <div class="col-12">
                    <h1 ng-if="vm.productName">Товар: {{vm.productName}}</h1>
                </div>
            </div>
            <div class="row mb-50">
                <div class="single-sidebar col-4 mt-0">
                    <div class="group-title">
                        <h2>Количество продаж</h2>
                    </div>
                    {{vm.SOLD}}
                </div>
                <div class="single-sidebar col-4 mt-0">
                    <div class="group-title">
                        <h2>Количество заказов</h2>
                    </div>
                    {{vm.ORDERS}}
                </div>
                <div class="single-sidebar col-4 mt-0">
                    <div class="group-title">
                        <h2>Выручка с продаж:</h2>
                    </div>
                    {{vm.REVENUE}} руб.
                </div>
            </div>
            <!-- <canvas id="line" class="chart chart-line" chart-data="vm.data" chart-labels="vm.labels"
                chart-options="vm.options" chart-dataset-override="vm.datasetOverride">
            </canvas> -->
        </div>
    </div>
</div>
