
<div>
    <h2><span data-translate="ahtemDiplomApp.shopItem.detail.title">Shop Item</span> {{vm.shopItem.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="ahtemDiplomApp.shopItem.count">Count</span></dt>
        <dd>
            <span>{{vm.shopItem.count}}</span>
        </dd>
        <dt><span data-translate="ahtemDiplomApp.shopItem.createDate">Create Date</span></dt>
        <dd>
            <span>{{vm.shopItem.createDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="ahtemDiplomApp.shopItem.shopList">Shop List</span></dt>
        <dd>
            <a ui-sref="shop-list-detail({id:vm.shopItem.shopListId})">{{vm.shopItem.shopListFullName}}</a>
        </dd>
        <dt><span data-translate="ahtemDiplomApp.shopItem.product">Product</span></dt>
        <dd>
            <a ui-sref="product-detail({id:vm.shopItem.productId})">{{vm.shopItem.productName}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="shop-item-detail.edit({id:vm.shopItem.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
