<div>
    <h2 data-translate="ahtemDiplomApp.shopItem.home.title">Shop Items</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="shop-item.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="ahtemDiplomApp.shopItem.home.createLabel">
                        Create new Shop Item
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="ahtemDiplomApp.shopItem.count">Count</span></th>
                    <th><span data-translate="ahtemDiplomApp.shopItem.createDate">Create Date</span></th>
                    <th><span data-translate="ahtemDiplomApp.shopItem.shopList">Shop List</span></th>
                    <th><span data-translate="ahtemDiplomApp.shopItem.product">Product</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="shopItem in vm.shopItems track by shopItem.id">
                    <td><a ui-sref="shop-item-detail({id:shopItem.id})">{{shopItem.id}}</a></td>
                    <td>{{shopItem.count}}</td>
                    <td>{{shopItem.createDate | date:'medium'}}</td>
                    <td>
                        <a ui-sref="shop-list-detail({id:shopItem.shopListId})">{{shopItem.shopListFullName}}</a>
                    </td>
                    <td>
                        <a ui-sref="product-detail({id:shopItem.productId})">{{shopItem.productName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="shop-item-detail({id:shopItem.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="shop-item.edit({id:shopItem.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="shop-item.delete({id:shopItem.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
