<div class="breadcrumb-area pt-60 pb-55 pt-sm-30 pb-sm-20">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a ui-sref="home">Home</a></li>
                <li class="active"><a ui-sref="cart">Cart</a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>
    <!-- Breadcrumb End -->
<!-- Cart Main Area Start -->
<div class="cart-main-area pb-80 pb-sm-50">
    <div class="container">
        <h2 class="text-capitalize sub-heading">Корзина</h2>
        <div class="row">
            <div class="col-md-12">
                <!-- Form Start -->
                <form action="#">
                    <!-- Table Content Start -->
                    <div class="row mb-20">
                        <div class="col-6">
                            <input type="text" name="fullName" ng-model="vm.shopList.fullName" placeholder="Введите ФИО..." class="form-control">
                        </div>
                        <div class="col-6">
                            <input type="text" name="address" ng-model="vm.shopList.address" placeholder="Введите адрес..." class="form-control">
                        </div>
                    </div>
                    <div class="row mb-20">
                        <div class="col-6">
                            <input type="text" name="phone" ng-model="vm.shopList.phone" placeholder="Введите телефон..."
                                class="form-control">
                        </div>
                    </div>
                    <div class="table-content table-responsive mb-50">
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th class="product-thumbnail">Картинка</th>
                                    <th class="product-name">Товар</th>
                                    <th class="product-price">Цена</th>
                                    <th class="product-quantity">Количество</th>
                                    <th class="product-subtotal">Сумма</th>
                                    <th class="product-remove">Удалить</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="shopItem in vm.shopItems">
                                    <td><a href>{{shopItem.product.id}}</a></td>
                                    <td class="product-thumbnail">
                                        <img class="primary-img" data-ng-src="{{'data:' + shopItem.product.imageContentType + ';base64,' + shopItem.product.image}}"
                                            alt="product image" />
                                    </td>
                                    <td class="product-name"><a href>{{shopItem.product.name}}</a></td>
                                    <td class="product-price"><span class="amount">{{shopItem.product.price}}руб.</span></td>
                                    <td class="product-quantity"><input type="number" ng-model="shopItem.count" /></td>
                                    <td class="product-subtotal">{{shopItem.product.price * shopItem.count}} руб.</td>
                                    <td class="product-remove"> <a href ng-click="vm.remove(shopItem)"><i class="fa fa-times"
                                                aria-hidden="true"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Table Content Start -->
                    <div class="row">
                        <!-- Cart Button Start -->
                        <div class="col-lg-8 col-md-7">
                        </div>
                        <!-- Cart Button Start -->
                        <!-- Cart Totals Start -->
                        <div class="col-lg-4 col-md-12">
                            <div class="cart_totals">
                                <h2>Общая сумма покупки</h2>
                                <br />
                                <table>
                                    <tbody>
                                        <tr class="order-total">
                                            <th>Сумма</th>
                                            <td>
                                                <strong><span class="amount">
                                                    {{vm.totalPrice}}
                                                    </span>
                                                </strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="wc-proceed-to-checkout">
                                    <a href ng-click="vm.send()">Отправить заказ</a>
                                </div>
                            </div>
                        </div>
                        <!-- Cart Totals End -->
                    </div>
                    <!-- Row End -->
                </form>
                <!-- Form End -->
            </div>
        </div>
        <!-- Row End -->
    </div>
</div>
<!-- Cart Main Area End -->
<!-- Brand Logo Start -->
<div class="brand-area pb-60">
    <div class="container">
        <div class="brand-banner owl-carousel">
            <div class="single-brand">
                <a href="#"><img class="img" src="content/images/brand/1.png" alt="brand-image" /></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="content/images/brand/2.png" alt="brand-image" /></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="content/images/brand/3.png" alt="brand-image" /></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="content/images/brand/4.png" alt="brand-image" /></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="content/images/brand/5.png" alt="brand-image" /></a>
            </div>
        </div>
    </div>
</div>
