
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myShopItemLabel" data-translate="ahtemDiplomApp.shopItem.home.createOrEditLabel">Create or edit a Shop Item</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.shopItem.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.shopItem.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ahtemDiplomApp.shopItem.count" for="field_count">Count</label>
            <input type="number" class="form-control" name="count" id="field_count"
                    ng-model="vm.shopItem.count"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ahtemDiplomApp.shopItem.createDate" for="field_createDate">Create Date</label>
                <div class="input-group">
                    <input id="field_createDate" type="text" class="form-control" name="createDate" datetime-picker="{{dateformat}}" ng-model="vm.shopItem.createDate" is-open="vm.datePickerOpenStatus.createDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="ahtemDiplomApp.shopItem.shopList" for="field_shopList">Shop List</label>
            <select class="form-control" id="field_shopList" name="shopList" ng-model="vm.shopItem.shopListId" ng-options="shopList.id as shopList.fullName for shopList in vm.shoplists"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="ahtemDiplomApp.shopItem.product" for="field_product">Product</label>
            <select class="form-control" id="field_product" name="product" ng-model="vm.shopItem.productId" ng-options="product.id as product.name for product in vm.products"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
