
<div>
    <h2><span data-translate="ahtemDiplomApp.shopList.detail.title">Shop List</span> {{vm.shopList.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="ahtemDiplomApp.shopList.fullName">Full Name</span></dt>
        <dd>
            <span>{{vm.shopList.fullName}}</span>
        </dd>
        <dt><span data-translate="ahtemDiplomApp.shopList.address">Address</span></dt>
        <dd>
            <span>{{vm.shopList.address}}</span>
        </dd>
        <dt><span data-translate="ahtemDiplomApp.shopList.phone">Phone</span></dt>
        <dd>
            <span>{{vm.shopList.phone}}</span>
        </dd>
        <dt><span data-translate="ahtemDiplomApp.shopList.createDate">Create Date</span></dt>
        <dd>
            <span>{{vm.shopList.createDate | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="shop-list-detail.edit({id:vm.shopList.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
