<div>
    <h2 data-translate="ahtemDiplomApp.shopList.home.title">Shop Lists</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="shop-list.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="ahtemDiplomApp.shopList.home.createLabel">
                        Create new Shop List
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="ahtemDiplomApp.shopList.fullName">Full Name</span></th>
                    <th><span data-translate="ahtemDiplomApp.shopList.address">Address</span></th>
                    <th><span data-translate="ahtemDiplomApp.shopList.phone">Phone</span></th>
                    <th><span data-translate="ahtemDiplomApp.shopList.createDate">Create Date</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="shopList in vm.shopLists track by shopList.id">
                    <td><a ui-sref="shop-list-detail({id:shopList.id})">{{shopList.id}}</a></td>
                    <td>{{shopList.fullName}}</td>
                    <td>{{shopList.address}}</td>
                    <td>{{shopList.phone}}</td>
                    <td>{{shopList.createDate | date:'medium'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="shop-list-detail({id:shopList.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="shop-list.edit({id:shopList.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="shop-list.delete({id:shopList.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
