<div ng-cloak class="wrapper homepage">
    <div class="slider-area slider-style-three">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="single-banner zoom mb-20">
                        <a href="#"><img src="content/images/banner/1.jpg" alt="slider-banner" /></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-banner zoom mb-20">
                        <a href="#"><img src="content/images/banner/2.jpg" alt="slider-banner" /></a>
                    </div>
                    <div class="single-banner zoom">
                        <a href="#"><img src="content/images/banner/3.jpg" alt="slider-banner" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-area pt-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6" ng-repeat="product in vm.products.slice(0,4)">
                    <div class="single-product">
                        <div class="pro-img">
                            <a href="#">
                                <img class="primary-img img-height" data-ng-src="{{'data:' + product.imageContentType + ';base64,' + product.image}}"
                                    alt="product image" />
                                <!-- <img class="secondary-img" src="content/images/products/2.jpg" alt="single-product" /> -->
                            </a>
                        </div>
                        <div class="pro-content">
                            <div class="product-rating">
                                <i class="fa fa-star" ng-repeat="stars in [].constructor(product.stars) track by $index"></i>
                            </div>
                            <h4><a href="#">{{product.name}}</a></h4>
                            <p><span class="price">{{product.price}}руб.</span><del class="prev-price">{{product.previousPrice}}руб.</del></p>
                            <div class="pro-actions">
                                <div class="actions-secondary">
                                    <a href="#" data-toggle="tooltip" title="Add to Wishlist"><i
                                            class="fa fa-heart"></i></a>
                                    <a class="add-cart" href ng-click="vm.addToCart(product)" data-toggle="tooltip"
                                        title="Add to Cart">В корзину</a>
                                    <a href="#" data-toggle="tooltip" title="Add to Compare"><i
                                            class="fa fa-signal"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="single-banner zoom container mb-30">
        <a href="#"><img src="content/images/banner/4.jpg" alt="slider-banner" /></a>
    </div>

    <div class="new-products pb-60">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 order-2">
                    <div class="side-product-list">
                        <div class="group-title">
                            <h2>Топ продаж</h2>
                        </div>
                        <div class="slider-right-content side-product-list-active owl-carousel">
                            <div class="double-pro">
                                <div class="single-product" ng-repeat="product in vm.products.slice(0,5)">
                                    <div class="pro-img">
                                        <a href="#">
                                            <img class="primary-img img-height-98" data-ng-src="{{'data:' + product.imageContentType + ';base64,' + product.image}}"
                                                alt="product image" />
                                            <!-- <img class="secondary-img" src="content/images/products/2.jpg" alt="single-product" /> -->
                                        </a>
                                    </div>
                                    <div class="pro-content">
                                        <div class="product-rating">
                                            <i class="fa fa-star" ng-repeat="stars in [].constructor(product.stars) track by $index"></i>
                                        </div>
                                        <h4><a href="#">{{product.name}}</a></h4>
                                        <p><span class="price">{{product.price}}руб.</span><del class="prev-price">{{product.previousPrice}}руб.</del></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8  order-lg-2">
                    <div class="new-pro-content">
                        <div class="pro-tab-title border-line">
                            <ul class="nav product-list product-tab-list">
                                <li><a class="active" data-toggle="tab" href="#new-arrival">новинки</a></li>
                                <li><a data-toggle="tab" href="#toprated">Избранные</a></li>
                                <li><a data-toggle="tab" href="#new-arrival">Топ продаж</a></li>
                            </ul>
                        </div>
                        <div class="tab-content product-tab-content jump">
                            <div id="new-arrival" class="tab-pane active">
                                <div class="new-pro-active owl-carousel flex">
                                    <div class="single-product" ng-repeat="product in vm.products.slice(-3)">
                                        <div class="pro-img">
                                            <a href="#">
                                                <img class="primary-img img-height" data-ng-src="{{'data:' + product.imageContentType + ';base64,' + product.image}}"
                                                    alt="product image" />
                                                <!-- <img class="secondary-img" src="content/images/products/2.jpg" alt="single-product" /> -->
                                            </a>
                                        </div>
                                        <div class="pro-content">
                                            <div class="product-rating">
                                                <i class="fa fa-star" ng-repeat="stars in [].constructor(product.stars) track by $index"></i>
                                            </div>
                                            <h4><a href="#">{{product.name}}</a></h4>
                                            <p><span class="price">{{product.price}}руб.</span><del class="prev-price">{{product.previousPrice}}руб.</del>
                                            </p>
                                            <div class="pro-actions">
                                                <div class="actions-secondary">
                                                    <a href="#" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                    <a class="add-cart" href ng-click="vm.addToCart(product)" data-toggle="tooltip" title="Add to Cart">В корзину</a>
                                                    <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="toprated" class="tab-pane">
                                <div class="new-pro-active owl-carousel">
                                    <div class="single-product" ng-repeat="product in vm.products.slice(3,6)">
                                        <div class="pro-img">
                                            <a href="#">
                                                <img class="primary-img" data-ng-src="{{'data:' + product.imageContentType + ';base64,' + product.image}}"
                                                    alt="product image" />
                                                <!-- <img class="secondary-img" src="content/images/products/2.jpg" alt="single-product" /> -->
                                            </a>
                                        </div>
                                        <div class="pro-content">
                                            <div class="product-rating">
                                                <i class="fa fa-star" ng-repeat="stars in [].constructor(product.stars) track by $index"></i>
                                            </div>
                                            <h4><a href="#">{{product.name}}</a></h4>
                                            <p><span class="price">{{product.price}}руб.</span><del class="prev-price">{{product.previousPrice}}руб.</del>
                                            </p>
                                            <div class="pro-actions">
                                                <div class="actions-secondary">
                                                    <a href="#" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                    <a class="add-cart" href ng-click="vm.addToCart(product)" data-toggle="tooltip" title="Add to Cart">В корзину</a>
                                                    <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="upper-banner banner pb-60 mt-30">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="single-banner zoom">
                                        <a href="#"><img src="content/images/banner/5.jpg" alt="slider-banner" /></a>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="single-banner zoom">
                                        <a href="#"><img src="content/images/banner/6.jpg" alt="slider-banner" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="company-policy pb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-policy">
                        <div class="icone-img">
                            <img src="content/images/icon/1.png" />
                        </div>
                        <div class="policy-desc">
                            <h3>Free Delivery</h3>
                            <p>Free shipping on all order</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-policy">
                        <div class="icone-img">
                            <img src="content/images/icon/2.png" />
                        </div>
                        <div class="policy-desc">
                            <h3>Online Support 24/7</h3>
                            <p>Support online 24 hours</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-policy">
                        <div class="icone-img">
                            <img src="content/images/icon/3.png" />
                        </div>
                        <div class="policy-desc">
                            <h3>Money Return</h3>
                            <p>Back guarantee under 7 days</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-policy">
                        <div class="icone-img">
                            <img src="content/images/icon/4.png" />
                        </div>
                        <div class="policy-desc">
                            <h3>Member Discount</h3>
                            <p>Onevery order over $30.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="best-seller-product pb-40">
        <div class="container">
            <div class="group-title">
                <h2>ХИТЫ ПРОДАЖ</h2>
            </div>
            <div class="best-seller-pro-active  owl-carousel slider-right-content">
                <div class="row">
                    <div class="single-product col-3" ng-repeat="product in vm.products.slice(0,4)">
                        <div class="pro-img">
                            <a href="#">
                                <img class="primary-img" data-ng-src="{{'data:' + product.imageContentType + ';base64,' + product.image}}"
                                    alt="product image" />
                                <!-- <img class="secondary-img" src="content/images/products/2.jpg" alt="single-product" /> -->
                            </a>
                        </div>
                        <div class="pro-content">
                            <div class="product-rating">
                                <i class="fa fa-star" ng-repeat="stars in [].constructor(product.stars) track by $index"></i>
                            </div>
                            <h4><a href="#">{{product.name}}</a></h4>
                            <p><span class="price">{{product.price}}руб.</span><del class="prev-price">{{product.previousPrice}}руб.</del>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="single-product col-3" ng-repeat="product in vm.products.slice(4,8)">
                        <div class="pro-img">
                            <a href="#">
                                <img class="primary-img"
                                    data-ng-src="{{'data:' + product.imageContentType + ';base64,' + product.image}}"
                                    alt="product image" />
                                <!-- <img class="secondary-img" src="content/images/products/2.jpg" alt="single-product" /> -->
                            </a>
                        </div>
                        <div class="pro-content">
                            <div class="product-rating">
                                <i class="fa fa-star" ng-repeat="stars in [].constructor(product.stars) track by $index"></i>
                            </div>
                            <h4><a href="#">{{product.name}}</a></h4>
                            <p><span class="price">{{product.price}}руб.</span><del
                                    class="prev-price">{{product.previousPrice}}руб.</del>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="brand-area pb-60">
        <div class="container">
            <div class="brand-banner owl-carousel">
                <div class="single-brand">
                    <a href="#"><img class="img" src="content/images/brand/1.png" alt="brand-image" /></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img src="content/images/brand/2.png" alt="brand-image" /></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img src="content/images/brand/3.png" alt="brand-image" /></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img src="content/images/brand/4.png" alt="brand-image" /></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img src="content/images/brand/5.png" alt="brand-image" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
