/*--------------------------------------------------

    CSS INDEX
    ================

    1. Theme Default CSS
    2. Newsletter Popup CSS
    3. Header CSS
        3.1 Header Top CSS
        3.2 Header Bottom CSS 
    4. Slider CSS
    5. New Products CSS
    6. Company Policy CSS
    7. Signup Newsletter CSS
    8. Footer CSS
    9. Breadcrumb CSS
    10. Shop Page CSS
    11. Product Page CSS
    12. Cart & Wish List CSS
    13. Checkout CSS
    14. Blog CSS
    15. Error 404 CSS
    16. Regester & LogIn CSS
    17. Contact Form CSS
    18. ScrollUp CSS
    19. Home-2 CSS
    20. Compare Page CSS
    21. About Us CSS
    22. My Account CSS
    23. Home Three CSS
  
-----------------------------------------------------*/

/*----------------------------------------*/
/* 1. Theme Default CSS
/*----------------------------------------*/
body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #333;
    font-size: 14px;
    line-height: 24px;
}
.group-title {
    border: 1px solid #ddd;
    color: #363f4d;
    margin-bottom: 20px;
    padding: 15px 25px;
    position: relative;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.universal-padding {
    padding-left: 15px;
    padding-right: 15px;
}
.universal-margin {
    margin-left: 15px;
    margin-right: 15px;
}
.border-default {
    border: 1px solid #ebebeb;
    border-radius: 3px;
    padding-bottom: 30px;
}
.group-title h2 {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}
.title-border {
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 10px;
}
.zoom {
    position: relative;
    overflow: hidden;
}
.zoom:before {
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 50%;
    opacity: 1;
    position: absolute;
    right: 51%;
    top: 0;
    -webkit-transition: all 700ms ease-in 0s;
    transition: all 700ms ease-in 0s;
    pointer-events: none;
}

.zoom:after {
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
    bottom: 50%;
    content: "";
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 50%;
    pointer-events: none;
    -webkit-transition: all 700ms ease-in 0s;
    transition: all 700ms ease-in 0s;
}

.zoom:hover:before {
    left: 0;
    right: 0;
    opacity: 0;
}

.zoom:hover:after {
    bottom: 0;
    top: 0;
    opacity: 0;
}

/*----------------------------------------*/
/* 2. Newsletter Popup CSS
/*----------------------------------------*/
.popup_wrapper {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    height: 100%;
    opacity: 0;
    position: fixed;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    visibility: hidden;
    width: 100%;
    z-index: 9999999;
    left: 0;
}

.test {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 25px 50px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 790px;
    height: 390px;
}

.popup_off {
    background: hsl(0, 0%, 40%) none repeat scroll 0 0;
    border: 1px solid hsl(0, 0%, 100%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    display: block;
    font-size: 11px;
    font-weight: 500;
    height: 25px;
    line-height: 25px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    top: -26px;
    -webkit-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
    width: 75px;
}

.popup_off:hover {
    background: #1a1a1a;
}

.subscribe-form-group {
    margin-top: 15px;
}
.subscribe-form-group input {
    background: hsl(0, 0%, 92%) none repeat scroll 0 0;
    border: 0 none;
    color: #999;
    height: 41px;
    line-height: 20px;
    padding: 0 20px;
    width: 380px;
}
.subscribe_area p {
    font-size: 15px;
    max-width: 535px;
    margin: auto;
}
input#newsletter-permission {
    width: 12px;
}
.subscribe-form-group button {
    background: #d8d8d8 none repeat scroll 0 0;
    border: 0 none;
    color: #333;
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 38px;
    margin: 20px auto;
    padding: 2px 20px 0;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
}
.subscribe-form-group button:hover {
    background: #f1ac06;
    color: #fff;
}
.subscribe_area h2 {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/*----------------------------------------*/
/* 3. Header CSS
/*----------------------------------------*/
/*----------------------------------------*/
/* 3.1 Header Top CSS
/*----------------------------------------*/
.header-top {
    height: 90px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
}
.header-top-left {
    font-size: 14px;
    color: #555;
}
.header-top-left img {
    margin-right: 9px;
    width: 25px;
}
.header-list-menu > li > span {
    display: inline-block;
    font-size: 13px;
    margin-top: 10px;
    margin-right: 10px;
    padding-right: 10px;
}

.header-list-menu > li i {
    margin-left: 4px;
    font-size: 19px;
    vertical-align: middle;
}
.header-list-menu > li, .middle-menu-list > li {
    display: inline-block;
    position: relative;
}
.header-list-menu > li:first-child::after {
    background: hsl(0, 0%, 88%) none repeat scroll 0 0;
    content: "";
    height: 20px;
    position: absolute;
    right: 10px;
    top: 12px;
    width: 1px;
    z-index: 22;
}

.header-list-menu > li > a, .homeo-2 .ht-dropdown.megamenu li a {
    color: #555;
    display: block;
    font-size: 14px;
    padding: 10px 27px 10px 10px;
    text-transform: capitalize;
}
.header-list-menu > li:last-child a{
    padding-right: 0;
}
.header-list-menu > li:hover > a,
.header-list-menu > li > ul.ht-dropdown > li:hover a,
.megamenu-three-column > ul > li ul > li:hover > a,
.catergorie-product .single-product .pro-content h4 a:hover,
.cat-list li a:hover,

.middle-menu-list > li > ul.ht-dropdown li:hover > a {
    color: #f1ac06;
}
.header-top-left .header-list-menu li a i,
.middle-menu-list > li a i {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    vertical-align: inherit;
    font-size: 14px;
    margin-left: 4px;
}

.header-list-menu.right-menu li > a:first-child {
    padding-right: 0;
}

.ht-dropdown {
    background: #fff;
    left: 0;
    opacity: 0;
    padding: 10px 20px;
    position: absolute;
    top: 100%;
    -webkiit-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    width: 150px;
    text-align: left;
    visibility: hidden;
    z-index: 99999999;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
}
ul.ht-dropdown.dropdown-style-two.sub-menu {
    left: 100%;
    top: 0;
    width: 200px;
}
ul.ht-dropdown.dropdown-style-two li {
    position: relative;
}

.ht-dropdown.dropdown-style-two{
    left: auto;
    right: 0;
}
.header-list-menu li:last-child ul.ht-dropdown{
    left: auto;
    right: 0;
}
.header-list-menu > li:hover > ul.ht-dropdown,
.cart-box > ul > li:hover ul.ht-dropdown,
.middle-menu-list  li:hover > ul.ht-dropdown,
.cart-box > ul > li.search-bar-xs:hover .ht-dropdown {
    visibility: visible;
    -webkiit-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
}

.cart-box > ul > li.search-bar-xs .ht-dropdown {
    padding: 0;
    width: 300px;
    right: 0;
    left: auto;
}

.header-list-menu > li > ul.ht-dropdown > li > a,
.middle-menu-list li ul.ht-dropdown li a {
    font-size: 14px;
    padding: 5px 0;
    line-height: 24px;
    display: block;
    text-transform: capitalize;
    text-align: left;
    color: #555;
    font-weight: 400;
}
.header-list-menu > li > ul.ht-account {
    left: auto;
    right: 0;
}

.middle-menu-list > li > ul.ht-dropdown {
    width: 200px;
}

.search-box-view .submit::before {
    content: "";
    font-family: "FontAwesome";
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
}
.search-box-view .email {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 45px;
    color: #888;
    float: left;
    font-weight: 400;
    height: 49px;
    line-height: 45px;
    padding: 0 90px 0 20px;
    position: relative;
    width:100%;
}
.search-box-view form {
    position: relative;
    max-width: 343px;
    margin: auto;
}
.search-box-view .submit:before {
    content: "\f002";
}

.search-box-view .submit {
    background: #f1ac06 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0 40px 39px 0;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    height: 44px;
    line-height: 47px;
    position: absolute;
    right: 3px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 70px;
    top: 2px;
    cursor: pointer;
}

.search-box-view .submit:hover {
    background: #303030;
}

/*----------------------------------------*/
/* 3.2 Header Bottom CSS 
/*----------------------------------------*/
.header-sticky.sticky {
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1049;
    background: #fff;
}
.header-bottom.header-sticky {
    border-bottom: 1px solid #ddd;
}
.homepage .header-bottom.header-sticky {
    border-bottom: none;
}
.sticky-logo {
    display: none;
}

.sticky .sticky-logo {
    display: block;
    margin-top: 14px;
}

.logo {
    height: 100%;
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
    -ms-align-items: center;
    align-items: center;
}
.logo img {
    max-width: 100%;
}

.middle-menu-list > li > a {
    background: transparent none repeat scroll 0 0;
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    padding: 37px 0 37px 30px;
    text-transform: uppercase;
}
.middle-menu-list > li:first-child > a{
    padding-left: 0;
}
.middle-menu-list > li:hover > a,
.pro-content h4:hover a,
.single-footer li:hover a,.category-sub li:hover a {
    color: #f1ac06;
}

/* Mobile Menu css */
.mobile-menu {
    position: relative;
}

.mean-container a.meanmenu-reveal {
    background: transparent none repeat scroll 0 0;
    color: #333;
    height: auto;
    padding: 0;
    top: -48px;
}

.mean-container .mean-bar {
    background: inherit;
    left: 0;
    min-height: 0;
    padding: 0;
    position: absolute;
    z-index: 9999;
}

.mean-container .mean-nav {
    background: hsl(217, 18%, 26%) none repeat scroll 0 0;
    margin-top: 0;
    max-height: 255px;
    overflow-y: auto;
}

.mean-container a.meanmenu-reveal span {
    background: #8d98aa none repeat scroll 0 0;
    height: 3px;
    margin-top: 4px;
}

.mean-container .mean-nav ul li a.mean-expand {
    height: 25px;
}

.mean-container .mean-nav ul li a {
    font-size: 13px;
}

.mean-container .mean-nav ul li a {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding: 13px 5%;
}

.mean-container .mean-nav ul li a.mean-expand:hover,
.mean-container .mean-nav ul li a.mean-expand.mean-expand.mean-clicked {
    background: #363f4d;
}

.mean-container .mean-nav ul li a.mean-expand {
    border-color: currentcolor currentcolor hsla(0, 0%, 100%, 0.2) hsla(0, 0%, 100%, 0.3);
}

.mobile-menu ul li ul li a {
    text-transform: capitalize !important;
}
.main-cart-box {
    padding: 30px;
}

.cart-box > ul > li {
    position: relative;
    display: inline-block;
}

.cart-box ul li a span {
    background: #f1ac06 none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    height: 18px;
    line-height: 19px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-transform: capitalize;
    top: 12px;
    width: 18px;
}
.cart-box.text-right {
    padding-top: 24px;
}
.cart-box > ul > li > a {
    color: #9d9d9d;
    display: inline-block;
    font-size: 25px;
    line-height: 29px;
    margin: 0;
    padding: 10px 0 10px 15px;
}

.cart-box > ul > li:hover > a {
    color: #f1ac06;
}

.cart-text {
    display: block;
    font-weight: 700;
    line-height: 20px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}

.cart-counter {
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    text-align: center;
    line-height: 15px;
}

.main-cart-box {
    width: 278px;
    left: auto;
    right: 0;
}

.single-cart-box {
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}

.cart-img {
    width: 35%;
    float: left;
    padding-right: 10px;
    position: relative;
}

.cart-img img {
    max-width: 100%;
}

.cart-content {
    float: left;
    width: 65%;
    padding: 0 15px 15px 0;
}

.cart-content span {
    color: #555;
    font-size: 12px;
}

.cart-content h6 {
    color: #333;
    font-size: 14px;
    display: block;
    margin-bottom: 2px;
    line-height: 1.4;
    text-transform: capitalize;
    font-weight: normal;
}
.cart-footer h5 {
    font-size: 14px;
    padding: 15px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    color: #555;
    text-transform: capitalize;
}

.cart-footer h5 span {
    color: #f1ac06;
    font-size: 15px;
    font-weight: 500;
}

.cart-actions a {
    border-radius: 5px;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    padding: 12px 0;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.checkout {
    background: #f1ac06;
    color: #fff;
}

.checkout:hover {
    background-color: #f1ac06;
    border-color: transparent;
    color: #fff;
}

.del-icone {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 45;
    color: #666;
}

/*----------------------------------------*/
/* 4. Slider CSS
/*----------------------------------------*/
.slider-image img {
    width: 100%;
}
.text-content-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10%;
}
.nivo-caption p {
    padding: 0;
}
.nivo-caption .banner-readmore a {
    display: inline-block !important;
    line-height: 39px;
    padding: 0 19px;
    border-radius: 5px;
    background: #f1ac06;
}

.text-content h1 {
    font-size: 36px;
    line-height: 46px;
    margin-top: 8px;
    margin-bottom: 30px;
}
.slider-text a:hover {
    background: #000;
}
.text-content h4{
    font-family: Lily Script One;
    font-size: 30px;
}
/* -- slider nav css -- */
.slider-wrapper.theme-default {
    position: relative;
}

.nivo-caption {
    padding: 0;
    height: 100%;
    background:transparent;
    opacity: 1;
}

/* nivo controlNav css */
.nivo-controlNav {
    padding: 0;
    position: absolute;
    z-index: 12;
    bottom: 15px;
    width: 100%;
}

.nivo-controlNav a {
    font-size: 0;
    cursor: pointer;
    width: 12px;
    height: 12px;
    background: #f1ac06 ;
    margin: 0 7px;
    display: inline-block;
    line-height: 12px;
    border-radius: 50%;
    opacity: 0.5;
}

.nivo-controlNav a.active {
    opacity: 1;
}

/* -- slider right product css -- */
.best-seller-product .slider-right-content .single-product::after {
    content: "";
    position: absolute;
    height: 75px;
    width: 1px;
    background: #ddd;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}
.best-seller-product .slider-right-content .last .single-product::after{
    display: none;
}



.best-seller-product .group-title{
    margin-bottom: 4px;
}
.single-banner img {
    width: 100%;
}
.side-product-list {
    border: 1px solid #ddd;
    overflow: hidden;
}
.side-product-list .group-title {
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 0;
}
.slider-right-content .single-product {
    overflow: hidden;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    padding: 25px 15px;
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    position: relative;
}
.slider-right-content .single-product:hover{
    border-left: none;
    border-right: none;
    border-top: none;
}
.slider-right-content .single-product:last-child {
    border-bottom: 0px solid #eee;
}

.slider-right-content .last .single-product {
    border-right: 0px solid #eee;
}
.slider-right-content .pro-img {
    float: left;
    width: 95px;
    margin-bottom: 0;
    margin-right: 8px;
}
.slider-right-content .pro-content {
    overflow: hidden;
    text-align: left;
}
.slider-right-content .pro-content h4 {
    font-weight: 400;
    text-transform: capitalize;
}
.slider-right-content .pro-content h4 a{
    margin-bottom: 4px;
    font-size: 14px;
}

.product-rating i {
    color: #f9ba48;
    font-size: 14px;
    line-height: 20px;
}
.product-rating i:nth-child(n+4){
    color: #444;
}
.price {
    font-size: 14px;
}

.prev-price {
    color: #666;
    font-weight: normal;
    margin-left: 8px;
    font-size: 14px;
}

.sticker-new, .sticker-sale {
    background: #f1ac06;
    border-radius: 2px;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    line-height: 25px;
    height: 26px;
    width: 50px;
    position: absolute;
    left: 15px;
    top: 15px;
    text-align: center;
    text-transform: uppercase;
    z-index: 9;
}

.sticker-sale {
    background: #31a2e2;
}

.new-pro-active .owl-nav div, .side-product-list-active .owl-nav div, 
.best-selling-pro .owl-nav div, .blog-active .owl-nav div,.blog-active2 .owl-nav div, .testext_active .owl-nav div, 
.best-seller-pro-active .owl-nav div, 
.hand-tool-active .owl-nav div, 
.new-upsell-pro .owl-nav div, 
.testimonial__container .dcare-arrow, .home-2 .best-seller-pro .owl-nav div, .best-selling-items .owl-nav div,
  .best-seller-unique .owl-nav div {
    background: #f1f1f1;
    border: 1px solid #ebebeb;
    color: #c2c4c3;
    height: 30px;
    width: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    line-height: 30px;
}

.new-pro-active .owl-nav div:hover,
.side-product-list-active .owl-nav div:hover,
.best-selling-pro .owl-nav div:hover,
.blog-active .owl-nav div:hover,
.blog-active2 .owl-nav div:hover,
.testext_active .owl-nav div:hover,
.best-seller-pro-active .owl-nav div:hover,
.hand-tool-active .owl-nav div:hover,
.new-upsell-pro .owl-nav div:hover,
.testimonial__container .dcare-arrow:hover,
.home-2 .best-seller-pro .owl-nav div:hover,
.best-selling-items .owl-nav div:hover {
    border-color: #f1ac06;
    background: #f1ac06;
    color: #fff;
}

.new-pro-active .owl-nav div.owl-next,
.side-product-list-active .owl-nav div.owl-next,
.best-selling-pro .owl-nav div.owl-next,
.blog-active .owl-nav div.owl-next,
.blog-active2 .owl-nav div.owl-next,
.testext_active .owl-nav div.owl-next,
.best-seller-pro-active .owl-nav div.owl-next,
.hand-tool-active .owl-nav div.owl-next,
.hand-tool-active .owl-nav div.owl-next,
.new-upsell-pro .owl-nav div.owl-next,
.testimonial__container .dcare-arrow.dcare-next {
    left: auto;
    right: 10px;
}

.new-pro-active .owl-nav div,
.side-product-list-active .owl-nav div,
.best-selling-pro .owl-nav div,
.blog-active .owl-nav div,
.blog-active2 .owl-nav div,
.testext_active .owl-nav div,
.testext_active .owl-nav div,
.best-seller-pro-active .owl-nav div,
.hand-tool-active .owl-nav div,
.new-upsell-pro .owl-nav div,
.testimonial__container .dcare-arrow,
.home-2 .best-seller-pro .owl-nav div,
.best-selling-items .owl-nav div,
.best-selling-items .owl-nav div,.best-seller-unique .owl-nav div {
    background: transparent;
    top: -54px;
    right: 47px;
    left: auto;
}
.testimonial__container .dcare-arrow,
.home-2 .best-seller-pro .owl-nav div,
.best-selling-items .owl-nav div,
.best-seller-pro-active .owl-nav div,
.hand-tool-active .owl-nav div,
.blog-active .owl-nav div,
.best-seller-unique .owl-nav div {
    top: -31px;
}
.side-product-list-active .owl-nav div{
    top: -26px;
}
.best-selling-pro .owl-nav div,
.new-pro-active.more-e-pro .owl-nav div {
    top: -57px;
}
.new-pro-active .owl-nav div,
.home-2 .best-seller-pro .owl-nav div {
    right: 36px;
}

.best-seller-unique .owl-nav div {
    right: 33px;
}

.new-pro-active .owl-nav div.owl-next,
.home-2 .best-seller-pro .owl-nav div.owl-next,.best-seller-unique .owl-nav div.owl-next {
    right: 0px;
}

.best-seller-pro .owl-nav div.owl-next,
.best-seller-unique .owl-nav div.owl-next {
    right: 20;
}

/*----------------------------------------*/
/* 5. New Products CSS
/*----------------------------------------*/
.new-products .product-list li, .best-selling-items .product-list li {
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}
.new-products .product-list li a, .best-selling-items .product-list li a {
    padding: 11px 15px;
    display: block;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 18px;
    color: #363f4d;
    text-transform: capitalize;
    font-weight: 500;
}
.product-list li a.active,
.best-selling-items .product-list li a.active {
    color: #f1ac06;
    border-color:#f1ac06; 
}
.new-products .product-list {
    margin-bottom: 30px;
    display: inline-block;
    background: #fff;
    position: relative;
    z-index: 2;
}
.tab-content.jump > .tab-pane.active {
    display: block;
    height: auto;
    opacity: 1;
    overflow: visible;
}
.tab-content.jump > .tab-pane {
    display: block;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.single-product {
    position: relative;
    background: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border: 1px solid transparent;
    padding: 15px 15px 30px 15px;
    overflow: hidden;
}
.product-area .single-product{
    margin-bottom: 30px;
}
.single-product:hover{
    border: 1px solid #ddd;
}
.pro-img {
    position: relative;
    margin-bottom: 20px;
}

.pro-img img {
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    object-fit: contain;
}

.pro-img .secondary-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    opacity: 0;
}

.single-product:hover .pro-img .secondary-img {
    opacity: 1;
}

.pro-content {
    text-align: center;
}
.pro-content h4 a {
    color: #363f4d;
    display: block;
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.pro-content .product-rating {
    margin-bottom: 5px;
}

.pro-actions {
    bottom: 0px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
    z-index: 99;
}

.new-pro-active .owl-item.owl-item.active.last,
.best-selling-pro .owl-item.owl-item.last.active {
    border-right: none;
}

.single-product:hover .pro-actions {
    opacity: 1;
    visibility: visible;
    bottom: 35px;
}
.actions-secondary a {
    display: inline-block;
}

.actions-secondary a {
    margin-left: 5px;
}

.actions-secondary a {
    background: #eef0f1 none repeat scroll 0 0;
    border-radius: 5px;
    color: #555;
    display: inline-block;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    position: relative;
    text-align: center;
    -webkit-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s;
    width: 33px;
}
.actions-secondary a.add-cart {
    width: 115px;
    font-size: 12px;
    text-transform: uppercase;
}
.actions-secondary {
    width: 100%;
    background: #fff;
}
.actions-secondary a:hover {
    background: #f1ac06;
    color: #fff;
}

.actions-secondary a {
    width: 33px;
}

.double-product .single-product {
    border-bottom: 1px solid hsl(0, 0%, 93%);
    padding: 25px 0;
}

.double-product .single-product:last-child {
    border-bottom: 0px solid #dddd;
    padding-bottom: 0;
}

.random-pro-active.slider-right-content .single-product {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 0px solid transparent;
}

.random-pro-active.slider-right-content .single-product:last-child {
    border-bottom: 0px solid #eee;
}

.random-pro-active.slider-right-content .owl-item:not(.active) + .owl-item.active .single-product,
.random-pro-active.slider-right-content .owl-item.active:first-child .single-product {
    border-left: 0px solid #eee;
}
.brand-banner.owl-carousel .owl-item img {
    max-width: 100%;
}
.brand-banner.owl-carousel .single-brand {
    text-align: center;
}

.brand-banner.owl-carousel .single-brand img {
    display: block;
    width: auto;
    margin: 0 auto;
}
.brand-banner {
    border: 1px solid #ddd;
    display: flex!important;
}
.brand-banner.owl-carousel .single-brand {
    text-align: center;
    border-right: 1px solid #ddd;
    padding: 13px;
    width: 100%;
}
.border-line{
    position: relative;
}
.border-line::after {
    content: "";
    position: absolute;
    right: 79px;
    width: 43%;
    top: 24px;
    background: #f1f1f1;
    height: 2px;
}
/*----------------------------------------*/
/* 6. Company Policy CSS
/*----------------------------------------*/
.single-policy {
    display: flex;
}
.policy-desc {
    margin-left: 20px;
}
.policy-desc h3 {
    font-size: 14px;
    font-weight: 500;
    margin: 5px 0;
    text-transform: uppercase;
}
.policy-desc p {
    font-size: 13px;
    margin-bottom: 0;
}

.best-seller-product .slider-right-content {
    border: none;
}

/*----------------------------------------*/
/* 7. Signup Newsletter CSS
/*----------------------------------------*/
.newsletter {
    padding-bottom: 60px;
}

.news-desc h3 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
}
.news-desc p {
    font-size: 16px;
}
.newsletter-box .subscribe {
    border: 1px solid #ddd;
    border-radius: 30px;
    color: #666;
    height: 50px;
    line-height: 50px;
    padding: 0 130px 0 20px;
    position: relative;
    width: 100%;
    background: transparent;
}
.newsletter-box {
    position: relative;
    max-width: 480px;
    margin: auto;
    margin-top: 25px;
}
.newsletter-box .submit {
    background: #f1ac06 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0 30px 30px 0;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    height: 46px;
    padding: 0;
    position: absolute;
    right: 2px;
    text-align: center;
    text-transform: uppercase;
    top: 2px;
    width: 120px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.newsletter-box .submit:hover {
    background: #303030;
}

/*----------------------------------------*/
/* 8. Footer CSS
/*----------------------------------------*/
.single-footer h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 28px;
    text-transform: capitalize;
}
.loc-address > span {
  display: flex;
  line-height: 24px;
}
.loc-address > span i {
    font-size: 18px;
    width: 30px;
    text-align: center;
    margin-right: 5px;
    margin-top: 2px;
}
.loc-address span + span {
    margin-top: 12px;
}
.payment-mth{margin-top: 30px;}
.footer-content ul li:not(:last-child) {
    line-height: 30px;
}
.footer-content ul li a {
    font-size: 14px;
    text-transform: capitalize;
}

.footer-content ul li:hover a {
    padding-left: 10px;
}

.footer-link-list li {
    color: #5b697b;
    margin-bottom: 8px;
}

.footer-middle-content {
    border-top: 1px solid #2d3846;
    border-bottom: 1px solid #2d3846;
}

.footer-link-list li span.title {
    background: #37475a none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    margin-right: 10px;
    padding: 10px 32px 10px 17px;
}

.footer-link-list li a {
    color: hsl(216, 15%, 65%);
    font-size: 13px;
    text-decoration: none;
}

.footer-link-list li a:hover {
    color: #fff;
}

.footer-bottom-content p a:hover {
    color: #f1ac06;
}

.footer-social-content li {
    display: inline-block;
    margin-left: 15px;
}
.footer-social-content li a {
    border-radius: 5px;
    color: #555;
    display: block;
    line-height: 43px;
    padding: 0 3px;
    text-align: center;
    text-decoration: none;
}
.footer-social-content li a:hover {
    color: #f1ac06;
}
.footer-bottom-content {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}
/*----------------------------------------*/
/* 9. Breadcrumb CSS
/*----------------------------------------*/
.breadcrumb-area .breadcrumb {
    background-color: #f5f5f5;
    margin-bottom: 0;
    padding: 25px 15px;
}

.breadcrumb-area .breadcrumb li.active a,.breadcrumb li:hover a {
    color: #f1ac06;
}

/*----------------------------------------*/
/* 10. Shop Page CSS
/*----------------------------------------*/
.single-sidebar + .single-sidebar {
    margin-top: 40px;
}
.single-sidebar {
    border: 1px solid #ddd;
    padding:20px;

}
.single-sidebar .group-title {
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 0 0 20px;
}
.sidebar .group-title h2 {
    font-weight: 500;
}

.grid-list-top.border-default {
    padding: 10px 20px;
}

.toolbar-sorter select,
.toolbar-sorter-footer select {
    width: 130px;
    height: 35px;
    background: transparent;
    border: 1px solid #eceff8;
}

.toolbar-sorter option,
.toolbar-sorter-footer option {
    padding: 5px;
}
.toolbar-sorter label, .toolbar-sorter-footer label {
    margin-right: 5px;
    text-transform: capitalize;
    margin-bottom: 3px;
}
.toolbar-sorter-footer select {
    width: auto;
}

.toolbar-sorter-footer span, .toolbar-sorter span a {
  margin-left: 5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.toolbar-sorter span a:hover {
    color: #000;
}

.toolbar-sorter-footer span {
    font-size: 15px;
}

.grid-item-list {
    margin-left: 10px;
    vertical-align: top;
}

.sidebar li a {
    color: #444;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.sidebar li a:hover {
    color: #f1ac06;
}

.grid-list-view.f-left, .breadcrumb-list-item.f-left {
  margin-top: 8px;
}

.main-shop-page .grid-list-view li a.active,
.breadcrumb-list-item li a.active,
.main-shop-page .grid-list-view li:hover a,
.breadcrumb-list-item li:hover a {
    color: #f1ac06;
}

.main-shop-page .grid-list-view li a {
    font-size: 18px;
    vertical-align: bottom;
}
.main-shop-page .grid-list-view li{
    margin-right: 10px;
}

/* price slider  css */
.ui-slider.ui-corner-all.ui-slider-horizontal.ui-widget.ui-widget-content {
    margin-top: 35px;
}

.ui-slider-handle.ui-state-default.ui-corner-all {
    width: 4px;
    height: 13px;
    border-radius: 0;
    top: -5px;
    background: #363f4d;
    border: none;
    cursor: pointer;
}

.ui-slider-range.ui-widget-header.ui-corner-all {
    background: #363f4d;
    border-radius: 0;
    height: 3px;
}

.ui-widget.ui-widget-content {
    border: none;
    background: #d7d7d7;
    height: 4px;
}

.ui-slider-horizontal .ui-slider-handle {
    margin-left: 0;
}

.ui-slider-handle.ui-corner-all.ui-state-default.ui-state-focus {
    outline: none;
}

.amount {
    padding: 5px 0;
    text-align: center;
    font-size: 15px;
    margin-top: 8px;
    color: #808080;
    background: transparent;
    border: none;
}

.amount,
.price-button {
    word-spacing: 25px;
    width: 100%;
    text-align: center;
}

.flter-option.mb-80 {
    padding-right: 15px;
}

/* color option css */
.color-option li a {
    display: block;
    height: 18px;
    margin: 0 8px 10px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 26px;
    outline: 1px solid transparent;
}

.color-option li a:hover {
    outline: 1px solid #FF5216;
}

.color-option li {
    display: inline-block;
}

.black {
    background: #000;
}

.blue {
    background: #1857f7;
}

.grey {
    background: #8f8f8f;
}

.green {
    background: #53a828;
}

.purple {
    background: #ce64d4;
}

.orange {
    background: #eb6703;
}

.rose {
    background: #ef3dff;
}

.red {
    background: #ff0000;
}

.yellow {
    background: #ffd500;
}

.main-categorie #list-view .single-product {
    padding: 30px 15px;
}
.main-categorie #list-view .pro-img {
    width: 240px;
    float: left;
}
.main-categorie #list-view .pro-content {
    overflow: hidden;
    padding: 25px;
    text-align: left;
    padding: 0px 20px 5px;
}

.main-categorie #list-view .pro-content p + p {
    margin: 15px 0;
}
.main-categorie #list-view .pro-actions {
    opacity: 1;
    position: static;
    visibility: visible;
    transform: translateY(0);
    margin-top: 23px;
    align-content: ;
}
.main-categorie #list-view .pro-content h4 a {
    margin-bottom: 7px;
    font-size: 16px;
}
.actions-secondary a:first-child{
    margin: 0;
}
.learn-more {
    color: #f1ac06;
    text-transform: capitalize;
    margin-bottom: 15px;
    display: inline-block;
}

.main-categorie .actions-primary a,
.related-product .actions-primary a {
    width: 110px;
}

.main-categorie .border-default {
    padding-bottom: 0;
    border-right: none;
    border-bottom: none;
}
.pagination-box.fix {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px 20px;
}
.breadcrubm-page-show.border-default {
    padding: 10px 15px;
}

.breadcrumb li {
    display: inline-block;
}

.breadcrumb li + li::before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
#grid-view .single-product, #list-view .single-product{
    margin-bottom: 30px;
}
#list-view .sticker-new, #list-view .sticker-sale {
    top: 30px;
}
/*----------------------------------------*/
/* 11. Product Page CSS
/*----------------------------------------*/
.thumb-menu.nav a {
    width: 25%;
    border: 1px solid transparent;
}

.thumb-menu.nav a.active {
    border: 1px solid #ddd;
}

.main-product-thumbnail .tab-content img,
.product-thumbnail .thumb-menu div img {
    width: 100%;
    border: 1px solid #ebebeb;
}

.fancybox-thumbs > ul > li {
    height: 120px;
}

.product-thumbnail {
    margin-top: 15px;
}

.product-header {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
}

.rating {
    margin-right: 10px;
}

.rating i,
.review-list i {
    color: #f9ba48;
    font-size: 14px;
    line-height: 20px;
}

.rating-feedback a {
    text-transform: capitalize;
    margin: 0 5px;
    display: inline-block;
}

.rating-feedback a:hover {
    color: #f1ac06;
}

.pro-ref span {
    display: inline-block;
    margin-right: 5px;
}

.pro-ref span.in-stock {
    margin-right: 15px;
    font-weight: 400;
}
.box-quantity input {
    background: #fff;
    width: 65px;
    padding: 5px;
    height: 35px;
    border: 1px solid #ebebeb;
    margin-right: 15px;
    text-align: center;
}

.add-cart {
    background: #f1ac06 none repeat scroll 0 0;
    border-color: #f1ac06;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    height: 35px;
    line-height: 36px;
    padding: 0 10px;
    text-align: center;
    text-transform: capitalize;
    width: 117px;
}

.add-cart:hover,.add-cart:focus {
    opacity: 0.8;
    color: #fff;
}

.product-link {
    border-top: 1px solid #ebebeb;
    padding-top: 25px;
    margin-top: 20px;
}
.product-link li {
    display: inline-block;
}
.product-link li a {
    background-color: #e3e3e3;
    border: 1px solid #e3e3e3;
    color: #333;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    padding: 13px 15px;
    font-size: 14px;
    vertical-align: middle;
    text-transform: capitalize;
    display: inline-block;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    border-radius: 4px;
}
.product-link li a:hover {
    background: #f1ac06 none repeat scroll 0 0;
    border-color: #f1ac06;
    color: #fff;
}

.main-thumb-desc li {
    display: inline-block;
    margin-right: 5px;
}

.main-thumb-desc li a {
    font-weight: 500;
    line-height: 30px;
    font-size: 15px;
    color: #444;
    background: #f0f0f0;
    border: 1px solid #ebebeb;
    padding: 0 20px;
    height: 30px;
    display: inline-block;
    text-transform: uppercase;
}

.tab-content.thumb-content {
    padding: 20px;
    margin-top: -1px;
}

.main-thumb-desc li a.active {
    background: transparent;
    border-bottom-color: #fff;
}

.tab-list-item {
    margin: 10px 0 0 35px;
}

.tab-list-item li {
    list-style: inherit;
}

.review-mini-title {
    font-weight: 300;
    font-size: 18px;
    margin: 30px 0 30px 0;
    text-transform: capitalize;
}

.review-list li {
    text-align: left;
}

.review-list li > span {
    font-weight: 500;
    font-size: 14px;
    width: 49px;
    display: inline-block;
}

.review-list li label span {
    font-weight: 500;
}

.review-list li label {
    font-size: 13px;
    position: relative;
    left: 120px;
}
.review-list li label a:hover{
    color: #f1ac06;
}
.review-title {
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 20px;
    padding-top: 15px;
}

.review-title span {
    font-weight: 500;
}

.riview-field input,
.riview-field textarea {
    border: 1px solid #ebebeb;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 50%;
}

.riview-field label {
    font-weight: 500;
    color: #363f4d;
    font-size: 14px;
}

.btn-submit {
    background: #f2f2f2;
    border: 1px solid #cdcdcd;
    color: #363f4d;
    padding: 8px 15px;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 4px;
}

.btn-submit:hover {
    background: #f1ac06;
    border-color: #f1ac06;
    color: #fff;
}
.related-product .group-title{
    margin-bottom: 30px;
}
/*----------------------------------------*/
/* 12. Cart & Wish List CSS
/*----------------------------------------*/
.cart-main-area .section-title h2,
.coupon-area .section-title h2 {
    text-transform: capitalize;
    color: #555;
    font-weight: 500;
}
.shipping_method input {
    background: #eceff8 none repeat scroll 0 0;
    border: 2px solid #eceff8;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #626262;
    font-size: 14px;
    height: 45px;
    padding-left: 10px;
    width: inherit;
}
.cart-title-area {
    padding-top: 30px;
}
.car-header-title h2 {
    font-size: 20px;
    margin: 0;
    text-transform: uppercase;
}

.table-content table {
    background: #fff none repeat scroll 0 0;
    border-color: #e5e5e5;
    border-radius: 0;
    border-style: solid;
    border-width: 1px 0 0 1px;
    text-align: center;
    width: 100%;
}

.table-content table th {
    border-top: medium none;
    font-weight: normal;
    padding: 20px 10px;
    text-align: center;
    text-transform: capitalize;
    vertical-align: middle;
    white-space: nowrap;
    font-weight: 500;
}

.table-content table th,
.table-content table td {
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.table-content table td {
    border-top: medium none;
    padding: 20px 10px;
    vertical-align: middle;
    font-size: 13px;
}

.table-content table td input {
    background: #e5e5e5 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #6f6f6f;
    font-size: 15px;
    font-weight: normal;
    height: 40px;
    padding: 0 5px 0 10px;
    width: 60px;
}

.table-content table td.product-subtotal {
    font-size: 14px;
    font-weight: 500;
    width: 120px;
}

.table-content table td.product-name a,
.product-stock-status span {
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    color: #6f6f6f;
    text-transform: capitalize;
}

.product-stock-status span {
    font-weight: normal;
    color: #f1ac06;
}

.table-content table td.product-name {
    width: 270px;
}

.table-content table td.product-thumbnail {
    width: 100px;
}

.table-content table td.product-remove i {
    color: #919191;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}

.table-content table .product-price .amount {
    font-size: 15px;
    font-weight: 500;
}

.table-content table td.product-remove i:hover {
    color: #f1ac06;
}

.table-content table td.product-quantity {
    width: 180px;
}

.table-content table td.product-remove {
    width: 150px;
}

.table-content table td.product-price {
    width: 130px;
}

.table-content table td.product-name a:hover,
.buttons-cart a:hover {
    color: #f1ac06;
}

.product-thumbnail img {
    width: 100%;
}

.buttons-cart {
    margin-bottom: 30px;
    overflow: hidden;
}

.buttons-cart input,
.coupon input[type="submit"],
.buttons-cart a,
.coupon-info p.form-row input[type="submit"] {
    background: #363f4d none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 12px;
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    margin-right: 15px;
    padding: 0 15px;
    text-shadow: none;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    width: inherit;
    cursor: pointer;
}

.wc-proceed-to-checkout {
    clear: both;
    display: block;
}

.buttons-cart input:hover,
.coupon input[type="submit"]:hover,
.buttons-cart a:hover {
    background: #f1ac06 none repeat scroll 0 0;
    color: #fff;
}

.buttons-cart a {
    color: #fff;
    float: left;
    height: 40px;
    line-height: 40px;
}
.cart_totals {
    float: left;
    text-align: right;
    width: 100%;
}

.cart_totals h2 {
    border-bottom: 2px solid #222;
    display: inline-block;
    font-size: 26px;
    margin: 0 0 35px;
    text-transform: uppercase;
    font-weight: 500;
}

.cart_totals table {
    border: medium none;
    float: right;
    margin: 0;
    text-align: right;
}

.cart_totals table th {
    border: medium none;
    font-size: 14px;
    font-weight: 500;
    padding: 0 20px 12px 0;
    text-align: right;
    text-transform: uppercase;
    vertical-align: top;
}

.cart_totals table td {
    border: medium none;
    padding: 0 0 12px;
    vertical-align: top;
}

.cart_totals table td .amount {
    color: #f1ac06;
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
    text-align: right;
    text-transform: uppercase;
}

.cart_totals table td ul#shipping_method {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.cart_totals table td ul#shipping_method li {
    float: left;
    margin: 0 0 10px;
    padding: 0;
    text-indent: 0;
    width: 100%;
}

.cart_totals table td ul#shipping_method li input {
    margin: 0;
    position: relative;
    top: 2px;
}

a.shipping-calculator-button {
    font-weight: bold;
    color: #6f6f6f;
}

a.shipping-calculator-button:hover {
    color: #83CBDC
}

.cart_totals table tr.order-total th,
.cart_totals table tr.order-total .amount {
    font-size: 20px;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 600;
}

.cart_totals table tr.order-total th {
    font-weight: 700;
}

.wc-proceed-to-checkout a {
    background: #f1ac06;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    padding: 0 30px;
    text-transform: none;
}

.wc-proceed-to-checkout a:hover {
    background: #363f4d;
}

.amount del {
    font-size: 13px;
    margin-left: 5px;
    font-weight: 600;
}

.cart-main-area.wish-list .product-remove {
    width: 20px;
}

.cart-main-area.wish-list table td.product-thumbnail {
    width: 140px;
}

.cart-main-area.wish-list .product-add-to-cart a {
    background: #f1ac06 none repeat scroll 0 0;
    color: #ffffff;
    display: block;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 56px;
    text-transform: uppercase;
    width: 260px;
    margin: 0 auto;
}
.cart-main-area.wish-list .product-add-to-cart a:hover {
    background: #1a1a1a;
}

.cart-main-area.wish-list td.product-add-to-cart {
    width: 240px;
}

/*----------------------------------------*/
/* 13. Checkout CSS
/*----------------------------------------*/
.payment-accordion .panel-body {
    padding: 0 0 15px;
}
.payment-accordion .panel-title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
}
.coupon-area .coupon-info input {
    background: transparent;
    border: 1px solid #e5e5e5;
}

.coupon-area .coupon-info .checkout-coupon .code:focus {
    border: 1px solid #e5e5e5;
}

.coupon-accordion h3 {
    background-color: #f6f6f6;
    border-top: 3px solid #f1ac06;
    color: #515151;
    font-size: 14px;
    font-weight: 400;
    list-style: outside none none;
    margin: 0 0 2em;
    padding: 1em 2em 1em 3.5em;
    position: relative;
    width: auto;
    text-transform: capitalize;
}

.coupon-accordion h3::before {
    color: #777;
    content: "\f0f6";
    display: inline-block;
    font-family: 'FontAwesome';
    left: 16px;
    position: absolute;
    top: 16px;
}

.coupon-accordion span {
    cursor: pointer;
    color: #6f6f6f;
    -webkit-transition: .3s;
    transition: .3s
}

.coupon-accordion span:hover,
p.lost-password a:hover {
    color: #f1ac06;
}

.coupon-content {
    border: 1px solid #e5e5e5;
    display: none;
    margin-bottom: 20px;
    padding: 20px;
}

.coupon-info p.coupon-text {
    margin-bottom: 15px
}

.coupon-info p {
    margin-bottom: 0
}

.coupon-info p.form-row-first label,
.coupon-info p.form-row-last label {
    display: block;
    color: inherit;
}

.coupon-info p.form-row-first label span.required,
.coupon-info p.form-row-last label span.required {
    color: red;
    font-weight: 700;
}

.coupon-info p.form-row-first input,
.coupon-info p.form-row-last input {
    border: 1px solid #ccc;
    height: 34px;
    margin: 0 0 14px;
    max-width: 100%;
    padding: 0 0 0 10px;
    width: 370px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.coupon-info p.form-row input[type="submit"]:hover,
p.checkout-coupon input[type="submit"]:hover {
    background: #f1ac06 none repeat scroll 0 0;
}

.coupon-info p.form-row input[type="checkbox"] {
    height: inherit;
    position: relative;
    top: 2px;
    width: inherit;
}

.form-row > label {
    margin-top: 7px;
}

p.lost-password {
    margin-top: 15px;
}

p.lost-password a {
    color: #6f6f6f;
    font-size: 12px;
}
p.checkout-coupon input[type=text] {
    height: 36px;
    padding-left: 10px;
    width: 170px;
}

p.checkout-coupon input[type="submit"] {
    background: #333 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #fff;
    height: 36px;
    margin-left: 6px;
    padding: 5px 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: inherit;
    cursor: pointer;
}

.coupon-checkout-content {
    margin-bottom: 30px;
    display: none;
}

.checkbox-form h3 {
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: 500;
}

.ship-different-title h3 label {
    display: inline-block;
    margin-right: 20px;
    font-size: 22px;
    font-weight: 500;
    color: #222;
}

.country-select label,
.country-select label,
.checkout-form-list label {
    color: #333;
    margin: 0 0 5px;
    display: block;
    font-weight: 500;
}

.country-select label span.required,
.checkout-form-list label span.required {
    color: #f1ac06
}

.country-select select {
    border: 1px solid #ddd;
    height: 34px;
    padding-left: 10px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
}

.checkout-form-list label {
    color: #333;
}
.checkout-form-list input[type=text],
.checkout-form-list input[type=password],
.checkout-form-list input[type=email] {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ebebeb;
    border-radius: 0;
    height: 34px;
    width: 100%;
    padding: 0 0 0 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
}

.checkout-form-list input[type="checkbox"] {
    display: inline-block;
    height: inherit;
    margin-right: 10px;
    position: relative;
    top: 0;
    width: inherit;
}

.create-acc label {
    color: #333;
    display: inline-block;
}

.create-accounts {
    display: none
}

.ship-different-title h3 label {
    display: inline-block;
    margin-right: 20px;
}

.order-notes textarea {
    height: 90px;
    padding: 15px;
    width: 100%;
    background: #fff;
}

.ship-different-title input {
    margin-top: 0;
    vertical-align: middle;
}

#ship-box-info {
    display: none
}

.your-order {
    background: #f2f2f2 none repeat scroll 0 0;
    padding: 30px 40px 45px;
}

.your-order h3 {
    border-bottom: 1px solid #ebebeb;
    font-size: 30px;
    margin: 0 0 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
    width: 100%;
    font-weight: 500;
}

.your-order-table table {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    width: 100%;
}

.your-order-table table th,
.your-order-table table td {
    border-bottom: 1px solid #d8d8d8;
    border-right: medium none;
    font-size: 14px;
    padding: 15px 0;
    text-align: center;
}

.your-order-table table th {
    border-top: medium none;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    width: 250px;
}

.your-order-table table .shipping ul li input {
    position: relative;
    top: 2px;
}

.your-order-table table .shipping th {
    vertical-align: top;
}

.your-order-table table .order-total th {
    border-bottom: medium none;
    font-size: 18px;
}

.your-order-table table .order-total td {
    border-bottom: medium none;
}

.your-order-table table tr.cart_item:hover {
    background: #F9F9F9
}

.your-order-table table tr.order-total td span {
    color: #f1ac06;
    font-size: 20px;
}
.payment-method {
    margin-top: 40px;
}
.payment-accordion h3 {
    border-bottom: 0 none;
    margin-bottom: 10px;
    padding-bottom: 0;
}

.payment-accordion h3 a {
    color: #6f6f6f;
    font-size: 14px;
    padding-left: 25px;
    position: relative;
    text-transform: capitalize;
    text-decoration: none
}

.payment-accordion h3 a:before,
.payment-accordion h3.open a:after {
    content: "Ã¯Ââ€¢";
    display: inline-block;
    font-family: fontawesome;
    font-size: 20px;
    left: 0;
    position: absolute;
    top: -2px;
}

.payment-accordion h3.open a:after {
    content: "\f056";
}
.payment-content p {
    font-size: 13px;
}

.payment-accordion img {
    height: 60px;
    margin-left: 15px;
}

.order-button-payment input {
    background: #f1ac06;
    border: medium none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    height: 50px;
    margin: 20px 0 0;
    padding: 0;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
    cursor: pointer;
}

.order-button-payment input:hover {
    background: #444
}

.sub-heading {
    padding-bottom: 27px;
    color: #555;
    font-weight: 500;
    font-size: 25px;
}
/*----------------------------------------*/
/* 14. Blog CSS
/*----------------------------------------*/
.newsletter.blog-newsletter {
    margin-top: 0;
    padding-top: 70px;
}
.blog-area .group-title {
    margin-bottom: 30px;
}
.blog-img {
    margin-bottom: 18px;
}
.blog-content {
    background: #fff;
}
.blog-meta {
    margin-bottom: 12px;
}
.blog-meta ul li {
    display: inline-block;
}
.blog-meta ul li span{
    color: #363f4d;

}
.blog-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.readmore a{
    font-size: 15px;
}
.blog-title:hover a,.blog-meta a:hover,.readmore a:hover {
    color: #f1ac06;
}

.blog-img a {
    position: relative;
    display: block;
}

.blog-img a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.single-blog:hover .blog-img a:before {
    opacity: 0.5;
}

.blog-area.off-white-bg .single-blog {
    margin-bottom: 30px;
}

.blog-img img {
    width: 100%;
}
.blog-active .owl-nav div,.blog-active2 .owl-nav div,.testext_active .owl-nav div,.new-upsell-pro .owl-nav div{
    top: -57px;
}
.blog-content h1 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.blog-details .blog-meta {
    margin-bottom: 30px;
}
/* blog pagination css */
.blog-pagination {
    display: inline-block;
}

.blog-pagination li {
    display: inline-block;
    margin-right: 1px;
}

.blog-pagination li a {
    display: block;
    font-size: 16px;
    color: 808080;
    border: 1px solid #e7e7e7;
    width: 40px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background: #fff;
}

.blog-pagination li.active a,
.blog-pagination li a:hover {
    background: #f1ac06;
    color: #fff;
}

.search-box-view.fix.blog-search > form {
    position: relative;
}

.social-link-list li {
    display: inline-block;
    margin-left: 15px;
    font-size: 16px;
}

.social-link-list li a {
    color: #666;
}

.social-link-list li i {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.social-link-list li i:hover {
    color: #f1ac06;
}

.blog-pager .pager {
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.blog-pager .pager li > a {
    background-color: #f6f6f6;
    border: medium none;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    padding: 0 20px;
    text-transform: capitalize;
    line-height: 44px;
    display: block;
}

.blog-pager .pager li:hover > a {
    background: #f1ac06;
    color: #fff;
}

.blog-pager .pager li.previous i {
    margin-right: 5px;
}
.blog-img.blog-single-img{
    margin-bottom: 0;                                                   
}
.category-text {
    font-size: 16px;
}
.blog-pager .pager li.next i {
    margin-left: 5px;
}

.blog-img.blog-single-img img {
    border: 1px solid #ebebeb;
}

.blog-pager .pager li.previous i,
.blog-pager .pager li.next i {
    vertical-align: middle;
}

.blog-single-img img {
    margin-bottom: 20px;
}

.single-related-post img {
    width: 100%;
}

.blog-related-post .single-related-post {
    margin-bottom: 40px;
}

.single-content h3 {
    font-size: 16px;
    line-height: 20px;
}

.comment-details h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.comment-details span {
    margin-bottom: 10px;
    display: inline-block;
}

.single-comment {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 50px;
    padding-bottom: 50px;
    position: relative;
}

.single-comment .reply {
    background-color: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 50px;
    bottom: -16px;
    color: #4c4c4c;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 7px 20px 6px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
}

.single-comment .reply:hover {
    background: #f1ac06;
    color: #fff;
    border-color: transparent;
}

.submit-comment .comment {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dddddd;
    color: #666666;
    font-size: 14px;
    height: 178px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 40px;
    padding: 30px;
}

.half-left {
    width: 50%;
    float: left;
    padding-right: 15px;
}

.half-right {
    width: 50%;
    float: left;
    padding-left: 15px;
}

.submit-comment h3 {
    color: #222222;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}

.submit-comment input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dddddd;
    color: #666;
    font-size: 14px;
    height: 48px;
    letter-spacing: 1px;
    padding: 2px 30px;
    width: 100%;
    margin-bottom: 30px;
}

.submit-comment .submit {
    text-transform: uppercase;
    background: #222;
    color: #fff;
    border-radius: 3px;
}

.search-box-view.blog-search .submit:hover,
.submit-comment .submit:hover {
    background: #f1ac06;
    color: #fff;
}

.recent-post .sidebar-title {
    border-bottom: medium none;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
    padding-bottom: 5px;
    position: relative;
    text-transform: uppercase;
}

.blog-details blockquote {
    background: #f7f7f7 none repeat scroll 0 0;
    border-left: 2px solid #f1ac06;
    padding: 30px;
}

.blog-details blockquote p {
    color: #555;
    font-size: 19px;
    margin-bottom: 10px;
    line-height: 32px;
}
.post-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 13px;
    position: relative;
}

.post-info-left {
    padding-left: 85px;
}

.post-date {
    background: #f1ac06 none repeat scroll 0 0;
    color: #fefefe;
    font-size: 14px;
    font-weight: 400;
    height: 70px;
    left: 0;
    padding: 15px 0;
    position: absolute;
    text-align: center;
    top: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 70px;
    z-index: 99;
}

.post-date span {
    display: block;
    font-size: 30px;
    font-weight: 500;
    line-height: 25px;
}
.blog-details .semi-title {
    margin: 30px 0 20px;
}
.semi-title,
.semi-title a {
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.post-info a {
    color: #424242;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
}

.post-info a:hover {
    color: #f1ac06;
}

.post-info-right a {
    padding-left: 20px;
}

.post-info-right {
    float: right;
    text-align: right;
}

.recent-post .sidebar-title:before {
    background-color: #f1ac06;
    bottom: -5px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 120px;
    letter-spacing: 1px;
}

.left-post-thumb {
    border: 1px solid #ebebeb;
    width: 70px;
}

.left-post-thumb img {
    width: 100%;
}

.right-post-thumb h4 {
    font-size: 14px;
    letter-spacing: 0.5px;
}

.right-post-thumb h4 a:hover {
    color: #f1ac06;
}

.right-post-thumb span {
    color: #000;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}

.categorie-list > li {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 12px;
    padding-bottom: 12px
}

.categorie-list li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.categorie-list li:hover a {
    color: #f1ac06;
}

.blog-pagination {
    display: inline-block;
}

.tag-list {
    margin-left: -6px;
    margin-right: -6px;
}

.tag-list li {
    display: inline-block;
}

.tag-list li a {
    border-radius: 5px;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0 6px 12px 6px;
    padding: 7px 16px;
    background-color: #f6f6f6;
    text-transform: capitalize;
}

.tag-list li:hover a {
    background: #f1ac06;
    color: #fff;
}

.blog-page .single-blog{
    margin-bottom: 30px;
}

/* blog page contact form css*/
.address-wrapper input {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #e8e8e8;
    color: #888;
    float: left;
    font-size: 14px;
    height: 45px;
    margin-bottom: 30px;
    padding: 0 15px;
    width: 100%;
}

.address-textarea textarea {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #e8e8e8;
    font-size: 14px;
    height: 300px;
    padding: 15px;
    width: 100%;
    color: #888;
}

.send-email input {
    background: #f1ac06 none repeat scroll 0 0;
    border: 1px solid #f1ac06;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 45px;
    letter-spacing: 1px;
    line-height: 45px;
    margin-top: 20px;
    text-transform: uppercase;
    width: 120px;
    cursor: pointer;
    border-radius: 4px;
}

.send-email input:hover {
    background: #363f4d;
    border-color: #363f4d;
}

/*----------------------------------------*/
/* 15. Error 404 CSS
/*----------------------------------------*/
.error-text h1 {
    color: #f1ac06;
    font-size: 200px;
    font-weight: 900;
    letter-spacing: 10px;
    line-height: 170px;
    margin-bottom: 30px;
}

.error-text h2 {
    color: #4c4c4c;
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.error-text > p {
    color: #4c4c4c;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 30px;
    padding: 0 130px;
}
#search-form {
    position: relative;
    width: 450px;
    text-align: center;
    display: inline-block;
}

#search-form input {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #c1c1c1;
    color: #666666;
    float: left;
    font-size: 14px;
    height: 45px;
    padding: 0 50px 0 20px;
    width: 100%;
    border: 1px solid #e9e9e9;
    border-radius: 30px;
}

#search-form input::-webkit-input-placeholder {
    color: #888;
}

#search-form input::-ms-input-placeholder {
    color: #888;
}

#search-form input::-moz-input-placeholder {
    color: #888;
}

#search-form button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4f4f4f;
    font-size: 18px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 50px;
    cursor: pointer;
}

#search-form button:hover {
    color: #f1ac06;
}
.error-button a {
    background: #f1ac06 none repeat scroll 0 0;
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    line-height: 50px;
    margin-top: 53px;
    padding: 0 30px;
    text-transform: uppercase;
    -webkit-transition: .3s;
    transition: .3s;
}
.error-button a:hover {
    background: #1a1a1a;
    color: #fff;
}

/*----------------------------------------*/
/* 16. Regester & LogIn CSS
/*----------------------------------------*/
.newsletter-input input {
    width: auto;
}

.register-title h3 {
    font-size: 31px;
}

.log-in h3 {
    font-weight: 500;
    font-size: 25px;
}

legend {
    font-size: 18px;
    padding: 7px 0px;
}
.newsletter-input label.radio-inline {
    padding-top: 0;
    margin-right: 10px;
}

.newsletter-btn,
.customer-btn,
.return-customer-btn {
    background: #f1ac06 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    margin-top: 20px;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
    cursor: pointer;
}

.newsletter-btn:hover,
.customer-btn:hover,
.return-customer-btn:hover,
.newsletter-btn:focus,
.customer-btn:focus,
.return-customer-btn:focus {
    background: #1a1a1a;
    color: #fff;
}

.log-in .well {
    background: transparent;
    margin-bottom: 0;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ccc;
}

.lost-password {
    font-weight: 600;
}

.require {
    color: #cc0000;
    margin-right: 5px;
    font-weight: 600;
}

.form-horizontal label.control-label {
    padding-top: 0;
}
.agree{
    margin-right: 5px;
}

/*----------------------------------------*/
/* 17. Contact Form CSS
/*----------------------------------------*/
.address-wrapper input {
    height: 45px;
    padding: 0 15px;
    background: #f5f5f5;
    border: 1px solid #e8e8e8;
    margin-bottom: 30px;
    float: left;
    color: #888;
}

.address-subject input {
    width: 100%;
}

.address-textarea textarea {
    width: 100%;
    height: 220px;
    background: #f5f5f5;
    border: 1px solid #e8e8e8;
    padding: 15px;
}

.footer-content.mail-content {
    margin-top: 0;
}

.contact-form p.success,
.contact-form p.error {
    color: green;
    font-size: 16px;
}

.contact-form p.error {
    color: red;
}

.address-wrapper input::-webkit-input-placeholder {
    color: #888;
}

.address-wrapper input::-moz-input-placeholder {
    color: #888;
}

.address-wrapper input::-ms-input-placeholder {
    color: #888;
}

.address-textarea textarea::-webkit-input-placeholder {
    color: #888;
}
#map{
    height: 400px;
}
/*----------------------------------------*/
/* 18. ScrollUp CSS
/*----------------------------------------*/
#scrollUp {
    position: fixed;
    bottom: 65px;
    right: 30px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    width: 40px;
    height: 40px;
    font-weight: 600;
    text-transform: uppercase;
    background: #f1ac06;
    z-index: 999;
}

#scrollUp i {
    font-size: 25px;
    line-height: 40px;
}

#scrollUp:hover {
    border-color: #f1ac06;
}

/*----------------------------------------*/
/* 19. Home-2 CSS
/*----------------------------------------*/
.nivo2 .text-content-wrapper {
    padding-left:0;
}
.nivo2 .text-content h4 {
    font-size: 36px;
}
.nivo2 .text-content h1 {
    font-size: 48px;
    line-height: 60px;
}
.testext_active.owl-carousel .owl-item img {
    width: auto;
}
.single-testimonial .desc {
    line-height: 29px;
    font-size: 18px;
    margin-top: -7px;
}
.test-img {
    display: inline-block;
    margin: 20px 0;
}
.single-testimonial h5 {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 3px;
}
.single-testimonial h6{
    font-weight: 400;
    font-size: 15px;
}
.owl-carousel .owl-dot {
    width: 17px;
    height: 11px;
    background: #d8d8d8;
    margin: 0 5px;
    display: inline-block;
    margin-top: 30px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}
.owl-carousel .owl-dot.active{
    background: #f1ac06;
    width: 28px;
}
.hand-tool-active{
    margin-top: 30px;
}
.hand-tool-active .owl-nav div{
    top: -57px;
}
/*----------------------------------------*/
/* 20. Compare Page CSS
/*----------------------------------------*/
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    border: 1px solid #ebebeb;
}

.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > td,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > thead > tr > th {
    white-space: normal;
}

.compare-content > tbody > tr > td {
    padding: 20px 15px;
    vertical-align: middle;
}

.product-title {
    width: 120px;
    font-weight: 500;
    color: #555;
}

.product-description {
    width: 200px;
}

.product-description p {
    text-align: left;
}

.product-description .compare-cart {
    background: #f1ac06 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 6px 6px;
    position: relative;
    width: 110px;
}
.product-description .compare-cart:hover {
    border-color: #f1ac06;
    background: #555;
    color: #fff;
}

.product-description .fa-trash-o {
    color: #666;
    font-size: 16px;
}

.product-description img {
    width: 100%;
}

.compare-details {
    text-align: left;
}

.product-description .product-rating i {
    font-size: 12px;
}

.compare-details span {
    text-transform: capitalize;
    display: inline-block;
    font-size: 13px;

}

.compare-details h4 {
    line-height: 10px;
}

.compare-details h4 a {
    text-transform: capitalize;
    font-size: 14px;
}

.compare-details h4 a:hover,
.product-description .fa-trash-o:hover {
    color: #f1ac06;
    cursor: pointer;
}

/*----------------------------------------*/
/* 21. About Us CSS
/*----------------------------------------*/
.about-content h3, .single-misson h3, .ht-single-about h3 {
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 22px;
  text-transform: capitalize;
}
.about-content h3{
    font-size: 22px;
    text-transform: uppercase;
}
.about-content h3 span,
.single-misson h3 span {
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 5px;
}

.about-content-list li {
    line-height: 28px;
    display: flex;
}
.about-content-list li:before {
    content: "\f00c";
    font-family: FontAwesome;
    color: #888;
    padding-right: 10px;
}

.about-content-list li a:hover {
    color: #f1ac06;
}

.progress {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 30px;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 24px;
    overflow: visible;
}

.progress-bar {
    background: #8d98aa none repeat scroll 0 0;
    border-radius: 30px;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
}

.progress-bar .text-top {
    background: #363f4d none repeat scroll 0 0;
    border-radius: 50%;
    font-size: 12px;
    height: 42px;
    left: 0;
    line-height: 42px;
    position: absolute;
    text-transform: uppercase;
    top: -9px;
    width: 42px;
}

.skill-bar-item {
    padding-bottom: 11px;
    position: relative;
}
.skill-bar-item +.skill-bar-item{
    margin-top: 35px;
}
.skill-bar-item > span {
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    line-height: 23px;
    margin-left: 50px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    z-index: 2;
}

.skill-bar {
    overflow: hidden;
    padding-top: 9px;
}

.ht-single-about h3 {
    font-size: 22px;
}
.ht-single-about > h5 {
    color: #444444;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 9px;
    text-transform: capitalize;
}
.ht-single-about p+p{
    margin-top: 10px;
}
.ht-about-work {
    margin-bottom: 27px;
    position: relative;
}

.ht-work-text > h5 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    padding-top: 8px;
}

.ht-work-text > h5 a {
    color: #444444;
    font-size: 15px;
}

.ht-work-text > h5 a:hover {
    color: #f1ac06;
}

.ht-work-text > p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ht-about-work > span {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 50%;
    color: #7d7d7d;
    display: block;
    float: left;
    height: 42px;
    line-height: 43px;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 42px;
    margin-top: 4px;
}

.ht-work-text {
    overflow: hidden;
    padding-left: 10px;
}

.ht-about-work:hover > span {
    background: #222222 none repeat scroll 0 0;
    color: #ffffff;
}

.ht-about-work:last-child {
    margin: 0;
}

/*----------------------------------------*/
/* 22. My Account CSS
/*----------------------------------------*/
.dashboard-content .table{
    margin-bottom: 0;
}
.dashboard-upper-info {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  margin-bottom: 50px;
}

.dashboard-content .tab-pane:not(.active) {
    display: none;
}

.dashboard-upper-info .d-single-info {
    padding: 30px 20px;
}

.dashboard-upper-info [class*="col-"]:not(:last-child) .d-single-info {
    border-right: 1px solid #ebebeb;
}

.user-name{
    position: relative;
    padding-left: 25px;
}

.user-name::before{
    color: #555;
    content: "";
    font-family: FontAwesome;
    font-size: 18px;
    left: 0;
    position: absolute;
    top: 0;
}

.account-dashboard p {
  font-size: 13px;
  text-transform: capitalize;
}


.view-cart {
  display: inline-block;
  font-size: 13px;
}

.view-cart i {
  font-size: 15px;
  margin-right: 5px;
}

.user-name span {
    color: #303030;
    font-size: 15px;
    font-weight: 500;
}

.dashboard-list li:not(:last-child) a {
    border-bottom: 1px solid #ebebeb;
}

.dashboard-list li a {
    color: #303030;
    display: block;
    font-size: 14px;
    padding: 12px 0;
    text-transform: capitalize;
}

.dashboard-list li a.active,
.dashboard-list li a:hover,
#dashboard a:hover {
    color: #f1ac06;
}

.dashboard-list li.active a:after {
    content: "\f105";
    font-family: FontAwesome;
    margin-left: 5px;
    -webkit-transition: 0.10s;
    transition: 0.10s;
}

.dashboard-list li a:hover,
.dashboard-list li.active a {
    background: transparent;
}

.dashboard-content {
    border: 1px solid #ebebeb;
    padding: 30px;
}

.dashboard-content h3 {
    text-transform: capitalize;
}

.dashboard-content h3 {
    border-bottom: 1px solid #ebebeb;
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    text-transform: capitalize;
}

.dashboard-content .table-responsive .table > tbody > tr > td,
.dashboard-content .table-responsive .table > tbody > tr > th,
.dashboard-content .table-responsive .table > tfoot > tr > td,
.dashboard-content .table-responsive .table > tfoot > tr > th,
.dashboard-content .table-responsive .table > thead > tr > td,
.dashboard-content .table-responsive .table > thead > tr > th {
    border: none;
}

.dashboard-content .table-responsive > .table > thead {
    border-bottom: 1px solid #ebebeb;
}

.dashboard-content .table-responsive .table > thead > tr > th {
    font-size: 14px;
    font-weight: 500;
}

.dashboard-content .table-responsive .table > tbody > tr > td {
    color: #7b7b7b;
    font-size: 13px;
    padding: 15px 8px;
}

#dashboard a {
    color: #f1ac06;
    text-transform: capitalize;
}
.view,.view-cart  {
  background: #f1ac06  none repeat scroll 0 0;
  color: #fff;
  padding: 5px 12px;
  text-transform: capitalize;
}
.view:hover,.view:focus,.show-btn:hover,.view-cart:hover,.view-cart:focus{
    color: #fff;
    background: #1a1a1a;
}
#dashboard a:hover {
    color: #003c97;
}

.billing-address {
    font-size: 16px;
    margin-top: 25px;
}

#address .view {
  display: inline-block;
  font-size: 14px;
  margin: 15px 0 12px;
  padding: 3px 12px;
}

.show-btn {
    background: #878787 none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
    font-size: 12px;
    height: 35px;
    position: absolute;
    right: 15px;
    text-transform: uppercase;
    top: 0;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    line-height: 24px;
}

.show-btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.login-form .form-check label {
  display: inline;
  font-size: 13px;
  padding-left: 5px;
}

.login-form .form-control,
.login-form .custom-radio,
.login-form span {
    font-size: 14px;
    height: 35px;
}
.no-gutters > [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.dashboard-upper-info .row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
}
.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.login-form .form-control{
    font-size: 13px;
}

.tab-content.jump > .tab-pane.active {
    display: block;
    height: auto;
    opacity: 1;
    overflow: visible;
}
.tab-content.jump > .tab-pane {
    display: block;
    height: 0;
    opacity: 0;
    overflow: hidden;
}
/*----------------------------------------*/
/* 23. Home Three CSS
/*----------------------------------------*/
.box-layout {
  box-shadow: -3px 0 50px -2px rgba(0, 0, 0, 0.14);
  margin: auto;
  max-width: 1340px;
}
.box-wrapper {
  background: rgba(0, 0, 0, 0) url("img/banner/pattern.png") repeat fixed 0 0;
}
.box-layout {
  background: #fff none repeat scroll 0 0;
  box-shadow: -3px 0 50px -2px rgba(0, 0, 0, 0.14);
  margin: auto;
  max-width: 1340px;
  position: relative;
}
.box-layout .sticky {
    max-width: 1340px;
    left: 0;
    right: 0;
    margin: auto;
}

.mobile-menu nav ul{
    display: none;
}