$icon-font-path: "../fonts/";
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";


.modal-header {
  display: block!important;
}

.flex {
    display: flex!important;
}

.flex-buttons-column {
  display: flex;
  flex-direction: column;
}

.stat-btn {
  width: 200px;
}

.img-height {
  height: 140px;
}

.img-height-98 {
  height: 98px;
}

.form-control {
  height: 34px!important;
}