<!-- Breadcrumb Start -->
<div class="breadcrumb-area ptb-60 ptb-sm-30">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a ui-sref="home">Home</a></li>
                <li class="active"><a ui-sref="shop">Shop</a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Breadcrumb End -->
<!-- Shop Page Start -->
<div class="main-shop-page pb-60">
    <div class="container">
        <!-- Row End -->
        <div class="row">
            <!-- Sidebar Shopping Option Start -->
            <div class="col-lg-3  order-2">
                <div class="sidebar white-bg">
                    <div class="single-sidebar">
                        <div class="group-title">
                            <h2>Категории</h2>
                        </div>
                        <ul>
                            <li><a ui-sref="shop">Плитка и керамогранит</a></li>
                            <li><a ui-sref="shop">Строительные блоки</a></li>
                            <li><a ui-sref="shop">Кирпич</a></li>
                            <li><a ui-sref="shop">Теплоизоляция</a></li>
                            <li><a ui-sref="shop">Панели стеновые</a></li>
                            <li><a ui-sref="shop">Грунтовка</a></li>
                            <li><a ui-sref="shop">Строительные смеси</a></li>
                            <li><a ui-sref="shop">Лакокрасочные материалы</a></li>
                            <li><a ui-sref="shop">Обои и холсты</a></li>
                            <li><a ui-sref="shop">Гипсокартонные системы</a></li>
                            <li><a ui-sref="shop">Фасадные материалы</a></li>
                            <li><a ui-sref="shop">Сетки металлические</a></li>
                            <li><a ui-sref="shop">Кровельные материалы</a></li>
                            <li><a ui-sref="shop">Хозтовары</a></li>
                        </ul>
                    </div>
                    <div class="single-sidebar">
                        <div class="group-title">
                            <h2>Производители</h2>
                        </div>
                        <ul class="manufactures-list">
                            <li><a ui-sref="shop">ЛАКРА</a></li>
                            <li><a ui-sref="shop">ПЛИТОНИТ</a></li>
                            <li><a ui-sref="shop">ДИОЛА</a></li>
                            <li><a ui-sref="shop">ОПТИМИСТ</a></li>
                            <li><a ui-sref="shop">КАРАТ</a></li>
                        </ul>
                    </div>
                    <div class="single-sidebar">
                        <div class="group-title">
                            <h2>Топ продаж</h2>
                        </div>
                        <div class="best-seller-pro-two compare-pro best-seller-pro-two owl-carousel">
                            <!-- Best Seller Multi Product Start -->
                            <div class="best-seller-multi-product">
                                <!-- Single Product Start -->
                                <div class="single-product" ng-repeat="product in vm.topProducts">
                                    <div class="pro-img">
                                        <a href="#">
                                            <img class="primary-img img-height" data-ng-src="{{'data:' + product.imageContentType + ';base64,' + product.image}}"
                                                alt="product image" />
                                            <!-- <img class="secondary-img" src="content/images/products/2.jpg" alt="single-product" /> -->
                                        </a>
                                    </div>
                                    <div class="pro-content">
                                        <div class="product-rating">
                                            <i class="fa fa-star" ng-repeat="stars in [].constructor(product.stars) track by $index"></i>
                                        </div>
                                        <h4><a href="#">{{product.name}}</a></h4>
                                        <p><span class="price">{{product.price}}руб.</span><del class="prev-price">{{product.previousPrice}}руб.</del>
                                        </p>
                                    </div>
                                </div>
                                <!-- Single Product End -->
                            </div>
                            <!-- Best Seller Multi Product End -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sidebar Shopping Option End -->
            <!-- Product Categorie List Start -->
            <div class="col-lg-9 order-lg-2">
                <!-- Grid & List View Start -->
                <div class="grid-list-top border-default universal-padding fix mb-30">
                    <div class="grid-list-view f-left">
                        <ul class="list-inline nav">
                            <li><a ng-class="{active: !vm.isList}" ng-click="vm.changeView(false)" data-toggle="tab"><i class="fa fa-th"></i></a></li>
                            <li><a ng-class="{active: vm.isList}" ng-click="vm.changeView(true)"data-toggle="tab"><i class="fa fa-list-ul"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!-- Toolbar Short Area Start -->
                    <div class="main-toolbar-sorter f-right">
                        <div class="toolbar-sorter">
                            <label>сортировка по</label>
                            <select class="sorter" name="sorter">
                                <option value="Position" selected="selected">позиции</option>
                                <option value="Product Name">названию</option>
                                <option value="Price">цене</option>
                            </select>
                            <span><a ui-sref="shop"><i class="fa fa-arrow-up"></i></a></span>
                        </div>
                    </div>
                    <!-- Toolbar Short Area End -->
                </div>
                <!-- Grid & List View End -->
                <div class="main-categorie">
                    <!-- Grid & List Main Area End -->
                    <div class="tab-content fix">
                        <div id="grid-view" class="tab-pane" ng-class="{active: !vm.isList}">
                            <div class="row">
                                <!-- Single Product Start -->
                                <div class="col-lg-4 col-sm-6" ng-repeat="product in vm.products">
                                    <div class="single-product">
                                        <div class="pro-img">
                                            <a href="#">
                                                <img class="primary-img img-height" data-ng-src="{{'data:' + product.imageContentType + ';base64,' + product.image}}"
                                                    alt="product image" />
                                                <!-- <img class="secondary-img" src="content/images/products/2.jpg" alt="single-product" /> -->
                                            </a>
                                        </div>
                                        <div class="pro-content">
                                            <div class="product-rating">
                                                <i class="fa fa-star" ng-repeat="stars in [].constructor(product.stars) track by $index"></i>
                                            </div>
                                            <h4><a href="#">{{product.name}}</a></h4>
                                            <p><span class="price">{{product.price}}руб.</span><del class="prev-price">{{product.previousPrice}}руб.</del>
                                            </p>
                                            <div class="pro-actions">
                                                <div class="actions-secondary">
                                                    <a href data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                    <a class="add-cart" href ng-click="vm.addToCart(product)" data-toggle="tooltip" title="Add to Cart">В корзину</a>
                                                    <a href data-toggle="tooltip" title="Add to Compare"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Product End -->
                            </div>
                        </div>
                        <!-- #grid view End -->
                        <div id="list-view" class="tab-pane" ng-class="{active: vm.isList}">
                            <!-- Single Product Start -->
                            <div class="single-product" ng-repeat="product in vm.products">
                                <div class="pro-img">
                                    <a href="#">
                                        <img class="primary-img img-height" data-ng-src="{{'data:' + product.imageContentType + ';base64,' + product.image}}"
                                            alt="product image" />
                                        <!-- <img class="secondary-img" src="content/images/products/2.jpg" alt="single-product" /> -->
                                    </a>
                                </div>
                                <div class="pro-content">
                                    <div class="product-rating">
                                        <i class="fa fa-star" ng-repeat="stars in [].constructor(product.stars) track by $index"></i>
                                    </div>
                                    <h4><a href="#">{{product.name}}</a></h4>
                                    <p><span class="price">{{product.price}}руб.</span><del class="prev-price">{{product.previousPrice}}руб.</del></p>
                                    <p> {{product.details}} </p>
                                    <div class="pro-actions">
                                        <div class="actions-secondary">
                                            <a href data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                            <a class="add-cart" href ng-click="vm.addToCart(product)" data-toggle="tooltip" title="Add to Cart">В корзину</a>
                                            <a href data-toggle="tooltip" title="Add to Compare"><i class="fa fa-signal"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Product Start -->
                        </div>
                        <!-- #list view End -->
                    </div>
                    <!-- Grid & List Main Area End -->
                </div>
                <!--Breadcrumb and Page Show Start -->
                <div class="pagination-box fix">
                    <ul class="blog-pagination">
                        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
                        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page"
                            ng-change="vm.transition()"></uib-pagination>
                    </ul>
                </div>
                <!--Breadcrumb and Page Show End -->
            </div>
            <!-- product Categorie List End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Shop Page End -->
<!-- Brand Logo Start -->
<div class="brand-area pb-60">
    <div class="container">
        <div class="brand-banner owl-carousel">
            <div class="single-brand">
                <a href="#"><img class="img" src="content/images/brand/1.png" alt="brand-image" /></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="content/images/brand/2.png" alt="brand-image" /></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="content/images/brand/3.png" alt="brand-image" /></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="content/images/brand/4.png" alt="brand-image" /></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="content/images/brand/5.png" alt="brand-image" /></a>
            </div>
        </div>
    </div>
</div>
<!-- Brand Logo End -->