<div>
    <h2 data-translate="ahtemDiplomApp.product.home.title">Products</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="product.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="ahtemDiplomApp.product.home.createLabel">
                        Create new Product
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="ahtemDiplomApp.product.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="price"><span data-translate="ahtemDiplomApp.product.price">Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="previousPrice"><span data-translate="ahtemDiplomApp.product.previousPrice">Previous Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="count"><span data-translate="ahtemDiplomApp.product.count">Count</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stars"><span data-translate="ahtemDiplomApp.product.stars">Stars</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="details"><span data-translate="ahtemDiplomApp.product.details">Details</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="image"><span data-translate="ahtemDiplomApp.product.image">Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createDate"><span data-translate="ahtemDiplomApp.product.createDate">Create Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in vm.products track by product.id">
                    <td><a ui-sref="product-detail({id:product.id})">{{product.id}}</a></td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.previousPrice}}</td>
                    <td>{{product.count}}</td>
                    <td>{{product.stars}}</td>
                    <td>{{product.details}}</td>
                    <td>
                        <a ng-if="product.image" ng-click="vm.openFile(product.imageContentType, product.image)">
                            <img data-ng-src="{{'data:' + product.imageContentType + ';base64,' + product.image}}" style="max-height: 30px;" alt="product image"/>
                        </a>
                        <span ng-if="product.image">{{product.imageContentType}}, {{vm.byteSize(product.image)}}</span>
                    </td>
                    <td>{{product.createDate | date:'medium'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="product-detail({id:product.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="product.edit({id:product.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="product.delete({id:product.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
