
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProductLabel" data-translate="ahtemDiplomApp.product.home.createOrEditLabel">Create or edit a Product</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.product.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.product.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ahtemDiplomApp.product.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.product.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ahtemDiplomApp.product.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="vm.product.price"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ahtemDiplomApp.product.previousPrice" for="field_previousPrice">Previous Price</label>
            <input type="number" class="form-control" name="previousPrice" id="field_previousPrice"
                    ng-model="vm.product.previousPrice"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ahtemDiplomApp.product.count" for="field_count">Count</label>
            <input type="number" class="form-control" name="count" id="field_count"
                    ng-model="vm.product.count"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ahtemDiplomApp.product.stars" for="field_stars">Stars</label>
            <input type="number" class="form-control" name="stars" id="field_stars"
                    ng-model="vm.product.stars"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ahtemDiplomApp.product.details" for="field_details">Details</label>
            <input type="text" class="form-control" name="details" id="field_details"
                    ng-model="vm.product.details"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImage($file, vm.product)" ngf-pattern="'image/*'">
            <label class="control-label" data-translate="ahtemDiplomApp.product.image" for="field_image">Image</label>
            <div>
                <img data-ng-src="{{'data:' + vm.product.imageContentType + ';base64,' + vm.product.image}}" style="max-height: 100px;" ng-if="vm.product.image" alt="product image"/>
                <div ng-if="vm.product.image" class="help-block clearfix">
                    <span class="pull-left">{{vm.product.imageContentType}}, {{vm.byteSize(vm.product.image)}}</span>
                    <button type="button" ng-click="vm.product.image=null;vm.product.imageContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImage($file, vm.product)" accept="image/*" data-translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                    ng-model="vm.product.image"
                    />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                    ng-model="vm.product.imageContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ahtemDiplomApp.product.createDate" for="field_createDate">Create Date</label>
                <div class="input-group">
                    <input id="field_createDate" type="text" class="form-control" name="createDate" datetime-picker="{{dateformat}}" ng-model="vm.product.createDate" is-open="vm.datePickerOpenStatus.createDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
